:root {
    --width: 50rem;
    --height: 50rem;

}

body {
    background-image: url('../assets/images/battle_wallpaper.webp');
    background-size: cover;

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

#battle-screen {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    height: 30rem;
    width: var(--width);
    background-color: whitesmoke;
    border-radius: 0.5rem;
}

#player-team,
#enemy-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#player-team {
    justify-content: left;
}

#enemy-team {
    justify-content: right;
}

.player,
.enemy {
    margin: 0.5rem;
}

.player img,
.enemy img {
    width: 3rem;
    height: 3rem;
}

#battle-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.battlebase {
    position: absolute;
}

.battlers {
    position: absolute;
    width: 16rem;
    height: 12rem;
}

.battlers img {
    margin: auto;
}

#battler0 {
    bottom: -6%;
    left: 5%;
}

#battler1 {
    top: 50%;
    right: 1%;
}

#action {
    width: var(--width);
    height: 5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.5rem;
}

#DialogBox {
    width: var(--width);
    height: 5rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    background-color: gray;
}

.hp-bar {
    width: 100%;
    height: 1rem;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    z-index: 1;
}

#start {
    border-radius: 0.5rem;
    background-color: yellow;
    margin: auto;
}

#switch,
#attack {
    border-radius: 0.5rem;
    margin: auto;
}

#switch {
    background-color: lightblue;
}

#attack {
    background-color: lightcoral;
}

#action button {
    margin: 0.5rem;
    border-radius: 0.5rem;
}